html {
  scroll-behavior: smooth;
}
/*===== VARIABLES CSS =====*/

body {
  font-family: 'Poppins', sans-serif;
}
header.header1{
box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
position: fixed;
z-index: 2; 
background-color:white;
}

ul.navList{
 display:flex;
 justify-content:end;
align-items:center;
}

button.navButton{
display:none;
}

a.nava{
line-height:;
font-weight:550;

}

a.nava:hover{
line-height:30px;
color:#7C00FE;
text-decoration:underline;
text-decoration-thickness: 3px;
text-underline-offset:25px;
line-height:30px;
font-size:22px;
font-weight:500;
}

a.nava:active{
color:#7C00FE;
text-decoration:underline;
text-decoration-thickness: 3px;
text-underline-offset: 10px;

font-weight:500;
}
 div.bannerContent{
line-height:30px;
position:static;
 z-index: 1; 
}
div.bannerContent button{
background-color:#7C00FE;
color: white;
border:none;
border-radius:8px;
}
div.bannerContent button:hover{
color: black;
}

div.bannerFcolumn{
width:38%;
}
div.bannerScolumn{
width:38%;
}

div.bannerContent h1{
font-size : 50px;
line-height:70px;
}
div.bannerContent span{
font-size : 52px;
font-weight:900;
color:#7C00FE;
}

image.profile{
width:99.9%;

}

img.aboutImage{

width:52%;

}
a.icons{
color:;
font-size:20px;

}
a.icons:hover{
font-size:32px;
color:#7C00FE;
}
div.About{
text-decoration: underline;
text-underline-offset:12px;
text-decoration-thickness:3px;
color:#7C00FE;
font-size:50px;
}
div.aboutContent{
font-size:18px;
line-height:30px;
}
div.Skill{
text-decoration: underline;
text-underline-offset:12px;
text-decoration-thickness:3px;
color:#7C00FE;
font-size:50px;
}
h2.pSkill{
  }
p.skillText {
 }
div.skillContent{
width:46%;
}
div.skillData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight:700;
  padding: 0.5rem 1rem;
  margin-bottom:15px;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
span.skillIcon {
  font-size: 2rem;
  margin-right:30px;
  color: #7c00fe;
}
span.skillNames {
  display: flex;
  align-items: center;
}
div.skillBar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color:#7c00fe;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: 1; 
}
div.skillHtml {
  width: 95%;
}
div.skillCss {
  width: 85%;
}
div.skillJs {
  width: 65%;
}
div.skillC {
  width: 75%;
}

div.skillCpp {
  width: 55%;
}



div.Project{
text-decoration: underline;
text-underline-offset:12px;
text-decoration-thickness:3px;
color:#7C00FE;
font-size:50px;
}
div.Contact{
text-decoration: underline;
text-underline-offset:12px;
text-decoration-thickness:3px;
color:#7C00FE;
font-size:50px;
}
textarea.contactInput {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1.5px solid ;
  outline: none;
  margin-bottom:1.5rem;
}
div.contactContainer{
width:38%;
}
input.contactInput {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid ;
  outline: none;
  margin-bottom:2rem;
}
input.contactButton {
  display: block;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
background-color:#7C00FE;
color: white;
border-radius:8px;

}
footer.footer {
  background-color: hsl(224, 56%, 12%);
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 1rem 0;
}
p.footerTitle {
  font-size: 32px;
  margin-bottom: 20px;
}
div.footerSocial {
  margin-bottom:12px;
}
a.footerIcon {
  padding:4px;
  margin:4px;
}

a.footerIcon:hover{
  font-size:20px;
  padding:4px;
  margin:4px;
}

p.footerCopy {
  font-size: 20px;
}
div.projectOne span{
font-size:28px;
}
div.projectOne h2{
font-size:26px;
}


h1.projectName{
color:#7c00fe;
font-size: 32px;
}
div.projectOne{
font-size:24px;
width:60%;
box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
a.projectLink{
 display: block;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
background-color:#7C00FE;
color: white;
border-radius:8px;
text-align:center;
}

